@import "./style.scss";

.background {
    // height: 100vh;
    background-image: url(../imgs/kids.png);
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        .archive-title {
            color: $background-color;

            h2,
            span {
                text-shadow: 3px 3px 5px $white;
            }
        }

        .logo {
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            padding: 10px;
        }
    }
}