@import "./style.scss";

.article {
    background-color: $yellow-color;

    .container {


        article {
            color: $white;

            p {
                text-align: justify;
            }

            button {
                background-color: transparent;
                color: $white;
                border: 1px solid $white;
                @extend %button;
            }
        }
    }
}