@import "./style.scss";
.buy-courses{
    background-color: $green-dark-color;

    .container{
        .buy-course-title{
            position: relative;
            color: $white;

            span {
                &::after {
                    @extend %after-span;
                }
            }
        }

        section{
            article{
                margin-bottom: 50px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 10px;
                }
            }
        }
    }
}