@import "./style.scss";

.courses {
    background-color: $gray-dark-color;

    .container {
        .course-title {
            position: relative;
            color: $white;

            span {
                &::after {
                    position: absolute;
                    content: "";
                    width: 100px;
                    height: 5px;
                    background-color: $yellow-color;
                    bottom: -15px;
                    right: 0;
                }
            }
        }

        .course {
            article {
                margin-bottom: 50px;

                .course-icon{
                    img{
                        width: 80px;
                        height: 85px;
                    }
                }

                .course-text {
                    color: $white;

                    p {
                        text-align: justify;
                        font-size: small;
                    }

                    button {
                        background-color: transparent;
                        color: $white;
                        font-size: small;
                    }
                }
            }
        }
    }
}