@import "./style.scss";

.header {
    background-color: $background-color;

    .container {
        .header-content {
            .phone-number {
                color: $white;

                label {
                    font-size: small;
                }

                a {
                    text-decoration: none;
                    font-size: small;
                    color: $white;
                    margin-top: 5px;
                }
            }

            .header-links {
                
                nav {
                    .header-menu {
                        margin-left: 80px;

                        ul {
                            li {
                                a {
                                    color: $white;
                                    font-size: small;

                                    &:hover {
                                        background-color: rgba($color: $gray-200, $alpha: 0.2);
                                        border-radius: 50px;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }

                .social-media {
                    color: $white;
                }
            }
        }
    }
}