@import "./style.scss";

.menu {
    nav {
        .collapse {
            ul {
                li {
                    a {
                        display: flex;
                        align-items: center;
                        font-size: small;
                        color: $black;
                    }
                }
            }
        }
    }
}